# Rename this file as "vars.env"

# The sensor license and configuration will be read from the following environment variables:
# CORELIGHT_LICENSE
# CORELIGHT_SOFTSENSOR_CONF

# All corelight-softsensor.conf settings should be configured before it's exported as a variable.
# To simplify the process, run the provided script "set_config.sh" on the Docker host from the same directory the
# license and config are located.

# All settings that are not configured with corelight-softsensor.conf should be set below.

# The variables set in this file will be passed to the container as written.
# Only variables that contain multiple entries (like CORELIGHT_PACKAGES) and string
# values that could be misinterpreted as boolean should be in double quotes.

# Corelight packages and pre-bundled packages can be configured with the following variables:
OS_PACKAGES="
 icannTLD"

# To automatically download and update the GeoIP database, provide the relevant URL it can be downloaded from.
# The GeoIP database is downloaded at container startup if it is missing.
GEOIP_ENABLED="true"
GEOIP_URL=http://corelight-update-host/files/all/geoip/GeoLite2-City.mmdb

# To automatically download and update Suricata Rulesets, provide the relavant URL they can be downloaded from.
# The Suricata ruleset is downloaded at container startup if it is missing.
SURICATA_FILES_ENABLED="true"
SURICATA_FILES_URL=http://corelight-update-host/files/defaultGroup/suricata-rulesets/suricata.rules

# To automatically download and update Input Framework files, provide the relavant URL they can be downloaded from.
# The Input files are downloaded at container startup if they are missing.
INPUT_FILES_ENABLED="true"
INPUT_FILES_URL=http://corelight-update-host/files/defaultGroup/input-files/

# To automatically download and update Input Framework files, provide the relavant URL they can be downloaded from.
# The Input files are downloaded at container startup if they are missing.
INTEL_FILES_ENABLED="true"
INTEL_FILES_URL=http://corelight-update-host/files/defaultGroup/intel-files/intel.dat
