%YAML 1.1
---

suricata-conf: /var/corelight/suricata/.suricata.yaml
suricata: /usr/bin/corelight-suricata

data-directory: /etc/corelight/suricata-update

output: /etc/corelight/rules

disable-conf: /etc/suricata/disable.conf
enable-conf: /etc/suricata/enable.conf
modify-conf: /etc/suricata/modify.conf

test-command: echo "Ruleset tested on Suricata-update Host - Not running local tests"

reload-command: (! $(which pidof) corelight-suricata) || kill -USR2 $($(which pidof) corelight-suricata)


  # Local URL source of Central Suricata-update host
  # Suricata-update runs on a dedicated host and compiles and tests rulesets for each version required.
  # Then stores those rulesets in a HTTP accessable folder by version, with a md5 hash file.
  # example:
sources:
  - {{ SURICATA_RULESET_SOURCE|d('http://suricata-update-host/suricata-rulesets/%(__version__)s/suricata.rules') }}
